.banner {
    background-color: blue;
}

.bannertext {
    text-align: center;
    color: red;
}

.scorecard {
    background-color: blue;
}

.scoretitle {
    text-align: center;
    text-decoration: underline;
    color: white;
}